{
    dynamic_dns {
        provider duckdns {
            api_token {$DUCKDNS_TOKEN}
        }
        domains {
            {$DUCKDNS_DOMAIN} @ jellyfin kavita
        }
        ip_source simple_http https://ipv4.icanhazip.com/
        ip_source simple_http https://api.ipify.org
        ip_source interface eth0
        check_interval 30m
        versions ipv4
        ttl 3h
    }
}

{$DUCKDNS_DOMAIN}:443 {
    reverse_proxy {
        to heimdall:80
    }
}

jellyfin.{$DUCKDNS_DOMAIN}:443 {
    reverse_proxy {
        to jellyfin:8096
    }
}

kavita.{$DUCKDNS_DOMAIN}:443 {
    encode gzip
    reverse_proxy {
        to kavita:5000
    }
}
